@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}
html{
    max-width:1020px;
    margin: 0 auto;
}
body{
    background-color:azure;
    font-family: 'Nanum Pen Script', cursive;    
}

#h1-title-page{
    font-size: 60px;
    color:black;
    margin: 20px auto;
    padding:0;
    animation-name: movingnav1;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.main{
    position: relative;
    display:relative;
    width:1020px;
}
.main-nav button{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size:25px;
    background-color: darkorange;
}
.main-nav button:hover {
    color: deeppink;
    border-bottom:greenyellow 1.5px ;
}
@keyframes movingnav1{
    0% {margin-left: 700px; margin-right: 20;}
    100% {margin-left: 25px; margin-right: 20px;}
}

.hr{
    height:3px;
    border: solid;
}

.main-items{
    
    flex-wrap:wrap;
    justify-content: center;    
    display: flex;
    width:1020px;
    height:700px;
}


.main-items div:first-child {
    width:300px;
    height:300px;
    margin-right:150px;
    
}

.main-items div:first-child img{
    width:200px;
    height:200px;
    margin-top:30px;
    transition-property:width,height;
    transition-duration: 2s;
    border: #999 1px solid;
    border-radius: 20px;
    
}
.main-items div:first-child img:hover{
    width:400px;
    height:400px;
    border:rgb(195, 195, 255) 1px solid;
}
.main-items div:last-child{
    width: 300px;
    height: 300px;
    
}

.main-items div:last-child img{
    width:200px;
    height:200px;
    margin-top:30px;
    background:rgba(0,0,0,0.6);  /* 반투명한 검정 배경 */ 
    opacity:1;  /* 화면에 보이지 않게 */ 
    transition: all 0.6s ease-in-out;
    border: #999 1px solid;
    border-radius: 20px;
    z-index:5;
}
.main-items div:last-child img:hover{
    background-color:rgba(0, 0, 0, 0.7); ;
    border:rgb(195, 195, 255) 1px solid;  
    opacity: 0;  /* 설명글이 화면에 보이게 */ 
    transform: translateY(30px);  
}
.main-items p{
    position:absolute;  
    opacity:0;
    transition-property: all;
    transform:0.6s ease;
    transition-duration: 1s;
    margin-top:-70px;
}
.cell-item img:hover +p{
    color: black;
    opacity:1;
    font-size: 30px;
}
    

@media (max-width: 480px) {
    .body {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 481px) and (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: column;
    }
}